{% extends 'base.html' %}

{% block app_content %}
<h1>Temperatur sensor setup</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.t0.label }}<br>
        {{ form.t0(cols=60, onchange="doStuff()") }}<br>
        {% for error in form.t0.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.t1.label }}<br>
        {{ form.t1(cols=60) }}<br>
        {% for error in form.t1.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.t2.label }}<br>
        {{ form.t2(cols=60) }}<br>
        {% for error in form.t2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.t3.label }}<br>
        {{ form.t3(cols=60) }}<br>
        {% for error in form.t3.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.t4.label }}<br>
        {{ form.t4(cols=60) }}<br>
        {% for error in form.t4.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>                
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    function doStuff(){ 
        window.alert("Werkt!!");
    }
</script>
{% endblock %}
